<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.CommunityMapper">

	<!-- 글 목록 보기 -->
	<select id="list" resultType="com.spring.domain.CommunityVO">
		<!-- select * from commuBoard order by bno desc -->
		<!-- html에서 <>는 태그를 여닫는 의미로 쓰이기 때문에 부등호로 쓸 경우 에러남 <![CDATA[ ]]>로 방지하기 -->
		<![CDATA[		 
		select * 
		from (select /*+INDEX_DESC(commuBoard pk_commuBoard)*/ rownum rn, bno, category, title, writer, readcount, replycnt, regdate
		      from commuBoard
		      where
   		]]>      
		<include refid="criteria"></include>
		<![CDATA[ 
	       bno>0 and rownum <= (#{pageNum}*#{amount}))
		where rn>((#{pageNum}-1)*#{amount})
		]]>
	</select>
	<select id="total" resultType="int">
		select count(*) from commuBoard where 
		<include refid="criteria"></include>
		bno>0
	</select>
	
	<!-- 글 작성하기 -->
	<insert id="create">
		<selectKey keyProperty="bno" order="BEFORE" resultType="int">
			<!-- 주로 PK 값을 미리 SQL을 통해서 처리해두고 특정한 이름으로 보관 / bno는 vo에 들어있음 -->
			select commuBoard_seq.nextval from dual
		</selectKey>
		insert into commuBoard(bno, category, title, content, writer) values(#{bno}, #{category}, #{title}, #{content}, #{writer}) <!-- getBno()로 가져오는 것 -->
	</insert>

	<!-- 게시글 읽기 -->
	<select id="read" resultType="com.spring.domain.CommunityVO">
		select * from commuBoard where bno=#{bno}
	</select>

	<!-- 게시글 수정하기 -->
	<update id="modify">
		update commuBoard set category=#{category}, title=#{title}, writer=#{writer}, content=#{content} where bno=#{bno}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="delete">
		delete from commuBoard where bno=#{bno}
	</delete>
	
	<!-- 공지사항 조회수 올리기 -->
	<update id="hitUpdate">
		update commuBoard set readcount=readcount+1 where bno=#{bno}
	</update>
	
	<!-- 동적 SQL 작성 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR" >
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type=='C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type=='W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 커뮤니티 댓글 목록 가져오기 -->
	<select id="selectReply" resultType="com.spring.domain.CommuReplyVO">
		<![CDATA[
			select * 
			from (select rownum rn, rno, bno, reply, replyer, replydate, re_seq, re_lev
				  from (select * from commu_reply order by rno desc, re_seq asc) 
				  where bno = #{bno} and rno > 0 and rownum <= #{pageNum} * 10)
			where rn > (#{pageNum}-1) * 10
			 
		]]>
	</select>
	
	<!-- 커뮤니티 댓글 추가하기 --> 
	<insert id="insertReply">
		insert into commu_reply(rno, bno, reply, replyer) values(commu_reply_seq.nextval, #{bno}, #{reply}, #{replyer})
	</insert>
	
	<!-- 커뮤니티 댓글 답글 달기 -->
 	<insert id="insertReReply">
		insert into commu_reply(rno, bno, reply, replyer, re_seq, re_lev)
		 values(commu_reply_seq.nextval, #{bno}, #{reply}, #{replyer}, #{re_seq}, #{re_lev})
	</insert>
	
	<!-- 커뮤니티 댓글 답글달기 전에 값 변경하기 -->
 	<update id="updateReply">
		update commu_reply set re_seq=re_seq+1 where re_seq>#{re_seq}
	</update>
	
	<!-- 특정 글의 전체 댓글 개수 가져오기 -->
 	<select id="totalReply" resultType="int">
		select count(*) from commu_reply where bno=#{bno} and rno>0
	</select>
	
</mapper>