<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ShopMapper">
	
	<!-- 상품 끌고오기 -->
	<select id="select" resultType="com.spring.domain.ShopProductVO">
	<![CDATA[
		select *
		from (select rownum rn,pid,pname,price,saleprice,amount,category,description,gradeavg,volume,shipcost,storage,expdate 
      			from (select * from producttbl
      ]]>
      <include refid="criteria"></include>
      <![CDATA[		
      			)
      			where (saleprice between #{lower} and #{upper}) and rownum <= (#{pageNum}*#{amount}))
		where rn > (#{pageNum}-1)*#{amount}
	]]>
	</select>
	
	<!-- 상품 전체 개수 구하기 -->
	<select id="total" resultType="int">
		select count(*) from producttbl where pid>0 and (saleprice between #{lower} and #{upper})
	</select>
	
	<!-- 동적 sql 작성 -->
	<sql id="criteria">
		<trim prefix="order by ">
			<choose>
				<when test="type == ''.toString()">
					pid desc
				</when>
				<when test="type == 'R'.toString()">
					gradeavg desc
				</when>
				<when test="type == 'P'.toString()">
					saleprice desc
				</when>
			</choose>
		</trim>
	</sql>
</mapper>